html, body {
    margin: 0;
    background: linear-gradient(to right, #000000 0%, #444444 100%);
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.theme-astral {
    background: linear-gradient(to right, #8800be 0%, #0062be 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.fill {
    display: block;
    width: 100%;
    height: 100%;
}

.fill-v {
    display: block;
    height: 100%;
}
.fill-h {
    display: block;
    width: 100%;
}

.hidden:not(.shown),.page:not(.shown) {
    display: none;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

@media (max-width: 600px) {
    .sidebar {
        display: flex;
        width: 100%;
    }
}
@media (min-width: 600px) {
    .sidebar {
        display: flex;
        width: 400px;
    }
}
.sidebar {
    background-color: rgba(0,0,0,0.5);
    height: calc(100% - 20px);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: width 0.2s ease-in-out;
}
.sidebar-space {
    flex-grow: 2;
}
.sidebar .sidebar-text {
    margin-left: 10px;
    margin-right: 10px;
}

.text-big {
    font-size: 2em;
}
.text-mbig {
    font-size: 1.5em;
}

.button-sidebar-task {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    display: flex;
    width: calc(100% - 20px);
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.button-sidebar-task:hover {
    background-color: rgba(0,0,0,0.7);
    width: calc(100% - 30px);
    padding-left: 20px;
}

.overlay-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.theme-astral .overlay-popup > * {
    padding: 10px;
    background: linear-gradient(to right, #8800be 0%, #0062be 100%);
    border-radius: 10px;
}
